body {
  background-image: url(background\ image.jpg);
}

* {
  font-family: "Epilogue", sans-serif;
  color: #2d2d2d;
  font-size: large;
}

.container {
  max-width: 1440px;
  padding: 0 75px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 43px;
  align-items: center;
}

.branding_title {
  font-size: 50px;
  line-height: 80px;
}

.visual_designer {
  font-size: 80px;
  line-height: 80px;
}

.text {
  font-size: 40px;
  line-height: 48px;
}

.contact_me {
  background-color: #2d2d2d;
  color: #ffffff;
  font-size: 26px;
  padding: 15px 40px;
  text-decoration: none;
  border-radius: 500px;
  transition: all 0.3s;
}

.contact_me:hover {
  transform: scale(1.15);
  color: rgb(62, 90, 62);
  background-color: rgba(53, 31, 31, 0.2);
}

.img_girl {
  min-width: 300px;
  min-height: 300px;
  height: 700px;
  width: 700px;
}
